@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&subset=latin-ext');
@import url('https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css');
$code-font-family: Consolas, Monaco, monospace;
$global-font-family: 'LXGW WenKai', system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
.post-warp .post-content code,
.post-warp .post-content pre {
           	padding: 1px;
    		font-size: 16px;
                font-weight: 550;
    		font-family: Consolas, Monaco, Menlo, Consolas, monospace;
    		word-break: break-all;
    		word-wrap: break-word;
    		overflow-y: auto;
    		max-height: 300px;
}
